* {
    margin: unset;
    padding: unset;
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
    user-select: none;
    font-weight: bold;
}
body {
    background-color: #DADADA;
}
main{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#main-container > div > h1 {
    font-size: 65px !important;
}
#main-container > button > h2 {
    font-size: 25px !important;
}
#game-settings-form {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 70px;
}
.difficulty-selector-button {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background: #A7A7A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    border: unset;
}
#game-settings-button {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background: #3D3D3D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    border: unset;
}
#game-settings-custom-button {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background: #3D3D3D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    border: unset;
}
#game-settings-form-custom {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 300px;
    backdrop-filter: blur(4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 10px;
    color: #6E6E6E;
    font-size: 16px;
    align-items: center;
    padding: 70px;
}
.custom-settings-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: #A7A7A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    box-sizing: border-box;
}
input {
    outline: none;
    border: unset;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    width: fit-content;
    box-sizing: content-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#back-to-basic-settings {
    width: 15px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}
#go-custom-game {
    display: flex;
    cursor: pointer;
    width: 300px;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #3D3D3D;
    border-radius: 10px;
    border: unset;
    color: white;
}
#count-mines-container {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
#minefield-container {
    display: none;
    flex-direction: column;
    gap: 5px;
}
#restart-in-game {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}
#minefield-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
}
#minefield {
    display: flex;
    background: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    flex-direction: column;
    gap: 2px;
    color: #6E6E6E;
    font-size: 16px;
    align-items: center;
    padding: 10px;
}
#count-mines-container > img {
    width: 25px;
}
.row {
    display: flex;
    gap: 2px;
}
.cell:not(.opened, .mine):hover {
    background: #BCBCBC;
}
.cell {
    transition: 0.2s;
    box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-family: "Roboto", sans-serif !important;
    width:33px;
    height: 33px;
    background: #A7A7A7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px !important;
    font-weight: bolder;
}
.opened {
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background: #E0E0E0;
}
#restart-game {
    cursor: pointer;
}
#main-menu {
    cursor: pointer;
}
.checked {
    transition: 0.1s;
    background: #BCBCBC;
}
.opened-mine {
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-position: center !important;
    background-image: url(images/mine.png) !important;
    background-repeat: no-repeat !important;
    background-size: 27px !important;
    background: #d4bbbb;
}
.mine {
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-size: 15px !important;
    background-position: center !important;
    background-image: url(images/mine.png) !important;
    background-repeat: no-repeat !important;
    background-size: 27px !important;
    background: #E0E0E0;
}
.flaged {
    background-size: 15px !important;
    background-position: center !important;
    background-image: url(images/Vector\ 1.svg) !important;
    background-repeat: no-repeat !important;
}
#container-end-game {
    display: none;
}
.container-end-game {
    position: absolute;
    display: flex !important;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
#end-game-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#end-game {
    transition: 1s;
    backdrop-filter: blur(2.5px); 
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 60px;
    gap: 10px;
}
#end-game > button {
    border: unset;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #747474;
}